
.header {
  @include margin;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 11rem;
  }
}

.main-image-section{
  position: relative;

  .main-image-container {
    height: 31rem;
    overflow: hidden;
    margin: 0;
    position: relative;
    @include borders;

    .main-image {
      display: block;
      width: 100%;
      margin:-0.875% 0;
    }
  }

  .date-entry-section {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 15%;
    left: 21%;

    input {
      @include simple-border;
      width: 93%;
      height: 3.5rem;
      padding: 0 30px 0 30px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    .submit-button {
      @include btn;
      position: relative;
      right: -4%;
      height: 3.75rem;
      width: 5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      .search-glass {
        width: 2rem;
      }
    }
  }
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid $black;

  .nav-btn {
    position: relative;
    cursor: pointer;
    margin: 30px 30px 30px 30px;
    padding-bottom: 5px;

    &:after {
      content: "";
      @include transition;
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: $accent-orange;
      visibility: hidden;
    }

    &:hover:after {
      visibility: visible;
      width: 100%;
    }
  }
}

main {
  @include margin;

  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .filter-btn {
      @include btn;
      background-color: $white;
      height: 2rem;
      margin: 20px 15px 20px 15px;
      padding: 0 25px 0 25px;
    }
  }
  

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-header {
      padding: 30px 0 10px 0;
    }

    .ninja {
      width: 200px;
      margin: 30px 0 30px 0;
    }
  }
}

.room-card {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid $black;
  display: flex;
  justify-content: space-around;

  .room-type-card-header {
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .room-image {
    @include simple-border;
    width: 33%;
    border-radius: $border-radius;
  }

  .middle-column-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;

    .small-icon {
      width: 20px;
      margin-right: 10px;
    }
    
    .room-specs {
      display: flex;
      margin-top: 15px;
    }
  }

  .end-column-container {
    padding-top: 65px;
    display: flex;
    justify-items: column;

    .reserve-btn {
      @include btn;
      height: 4rem;
      margin-bottom: 20px;
      padding: 0 25px 0 25px;
      font-size: 20px;
    }

    span {
      font-size: 14px;
    }

    .expense {
      padding-top: 15px;
    }
  }

  
}

.account-summary {
  margin-bottom: 15px;
}

.room-total {
  @include margin;
  padding: 50px 0 150px 0;
}

.activeBtn {
  background-color: $accent-orange;
}

.disabled {
  background-color: $deactivated-grey !important;
  pointer-events: none;
}

.hidden {
  display: none !important;
}









