@mixin margin {
  margin-right: 50px;
  margin-left: 50px;
}

@mixin borders {
  border-top: 10px solid $black;
  border-bottom: 10px solid $black;
}

@mixin simple-border {
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin btnHover {
  cursor: pointer;
  background-color: #fc540b;
}

@mixin btn {
  background-color: $accent-orange;
  border-radius: $border-radius;
  border: 2px solid $black;
  @include transition;
  
  &:hover {
    @include btnHover;
  }
}
