body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  // line-height: 1.7;
  // color: $primary-text;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

// h4 {
//   font-size: 20px;
//   font-weight: 400;
// }

p {
  font-weight: 300;
}